<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testsuite" verbose="1">
    <listeners>
        <listener class-name="xyz.bank.demo.customelisteners.CustomListeners"></listener>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"></listener>
        <listener class-name="org.uncommons.reportng.HTMLReporter"></listener>
    </listeners>
    <test name="Login Test">
        
        <classes>
            <class name="xyz.bank.demo.tastsuite.BankTest"></class>
        </classes>
    </test>
</suite>